.image-groups
  .main-text
    %h1 マッチング数 <span>No.1</span> 
    %h2 ゴルMATCH
    %h3 ラウンドレッスンを一緒に！
    %h4 必ず上達するマッチングアプリ
    .mobile
      = image_tag "sample_qr.gif", size: "60x60", alt: "QR"
      .sab-text
        %h5 スマートフォンから
        %h5 QRコードを読み込んでください
        %h5 ログイン後ご利用いただけます
        %h6 アプリダウンロードはこちら
        = image_tag "ja_badge_web_generic.png", size: "190x50", alt: "google" 
  .chat-group-form
    %h1 新規チャットグループを作成
    = render partial: 'form', locals: { group: @group }
    .account-page__inner--left.account-page__header
      .grouphome-btn 
        = link_to "メッセージ画面に戻る", root_path, class: 'home-btn'
.footer
  %p Copyright © 2020 ゴルMATCH Inc. All Rights Reserved.
  .footer-list
    follow us!
    = link_to "https://www.facebook.com/", class: "contents__btn" do
      = icon('fab', 'facebook-square')
    = link_to "https://twitter.com/", class: "contents__btn" do
      = icon('fab', 'twitter')
    = link_to "https://www.instagram.com/", class: "contents__btn" do
      = icon('fab', 'instagram')
    = link_to "https://www.instagram.com/", class: "contents__btn" do
      = icon('fab', 'youtube')